examples/basic-read-write.json
[
  {
    "id": "cip_example_flow",
    "type": "tab",
    "label": "CIP Suite Examples",
    "disabled": false,
    "info": "Example flows for node-red-contrib-cip-suite"
  },
  {
    "id": "cip_endpoint_1",
    "type": "cip-endpoint",
    "name": "My PLC",
    "address": "192.168.1.1",
    "port": "44818",
    "slot": "0",
    "connTimeout": "5000",
    "retryInterval": "5000",
    "useMicro800": false,
    "z": "cip_example_flow"
  },
  {
    "id": "inject_read",
    "type": "inject",
    "name": "Trigger Read",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 140,
    "y": 80,
    "z": "cip_example_flow",
    "wires": [["cip_read_1"]]
  },
  {
    "id": "cip_read_1",
    "type": "cip-read",
    "name": "Read MyTag",
    "endpoint": "cip_endpoint_1",
    "tagName": "Program:MainProgram.MyTag",
    "dataType": "auto",
    "pollInterval": "0",
    "x": 340,
    "y": 80,
    "z": "cip_example_flow",
    "wires": [["debug_read"]]
  },
  {
    "id": "debug_read",
    "type": "debug",
    "name": "Read Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 550,
    "y": 80,
    "z": "cip_example_flow",
    "wires": []
  },
  {
    "id": "inject_write",
    "type": "inject",
    "name": "Write 42",
    "props": [
      {
        "p": "payload",
        "v": "42",
        "vt": "num"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 140,
    "y": 180,
    "z": "cip_example_flow",
    "wires": [["cip_write_1"]]
  },
  {
    "id": "cip_write_1",
    "type": "cip-write",
    "name": "Write MyTag",
    "endpoint": "cip_endpoint_1",
    "tagName": "Program:MainProgram.MyTag",
    "dataType": "auto",
    "staticValue": "",
    "useStaticValue": false,
    "x": 340,
    "y": 180,
    "z": "cip_example_flow",
    "wires": [["debug_write"]]
  },
  {
    "id": "debug_write",
    "type": "debug",
    "name": "Write Result",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "payload.success",
    "statusType": "auto",
    "x": 550,
    "y": 180,
    "z": "cip_example_flow",
    "wires": []
  },
  {
    "id": "inject_browse",
    "type": "inject",
    "name": "Browse Tags",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 140,
    "y": 280,
    "z": "cip_example_flow",
    "wires": [["cip_browse_1"]]
  },
  {
    "id": "cip_browse_1",
    "type": "cip-browse",
    "name": "Browse PLC",
    "endpoint": "cip_endpoint_1",
    "x": 340,
    "y": 280,
    "z": "cip_example_flow",
    "wires": [["debug_browse"]]
  },
  {
    "id": "debug_browse",
    "type": "debug",
    "name": "Tag List",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 540,
    "y": 280,
    "z": "cip_example_flow",
    "wires": []
  },
  {
    "id": "comment_polling",
    "type": "comment",
    "name": "Polling Example - Set pollInterval to 1000 on the cip-read node for 1s polling",
    "info": "",
    "x": 360,
    "y": 360,
    "z": "cip_example_flow",
    "wires": []
  }
]
